
.headerColor {
    top: 0;
    left: 0;
    height: 35px;
    background-color: var(--temp-body-opacity-lighter);
    width: 100%;
    position: fixed;
    z-index: -2;
    
    border-top-left-radius: var(--temp-corner);
    border-top-right-radius: var(--temp-corner);
}

.settings-sidebar {
    top: 35px;
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: -1;
    position: fixed;
    user-select: none;
    
    border-bottom-left-radius: var(--temp-corner);
    background-color: var(--temp-body-opacity);
  }

.settings-sidebody {
    top: 35px;
    left: 0;
    width: 100%;
    z-index: -2;
    position: fixed;
    user-select: none;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    border-bottom-left-radius: var(--temp-corner);
    border-bottom-right-radius: var(--temp-corner);
    background-color: var(--temp-body-opacity-lighter);
  }

  .settings-sidebar span {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #B0B0B0;
    font-family: Varela;
    font-size: 18px;
    cursor: pointer;
  }

  .settings-sidebar span:hover {
    color: #E3E3E3;
  }

  .settings-sidebar span:active {
    color: #f1ecec;
  }

  .settingTitle {
    display: flex;
    justify-content: center;
    margin: 30px;
    color: #FCFCFC;
    font-family: Varela;
    font-size: 25px;
    user-select: none;
  }

  .versionTitle {
    display: flex;
    justify-content: center;
    font-family: Varela;
    color: #B0B0B0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 12px;
  }

.apiKeySubmitter {
    margin-left: 35%;
    margin-top: 10%;
    width: 50%;
    height: 15%;
}

.apiKeySubmitter fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.apiKeySubmitter input[type=text] {
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
}

.apiKeySubmitter input[type=text]:not(:placeholder-shown) {
    filter: blur(10px);
}

.apiKeySubmitter input[type=text]:focus {
    filter: blur(0px);
}

.apiKeySubmitter button {
    font-family: Varela;
    background: transparent;
    color: #E3E3E3;
    border-radius: 10px;
    border: solid;
    padding: 7px 15px 7px 15px;
    border-width: 2px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: -8px;
    margin-bottom: -5px;
}

.apiKeySubmitter button:hover {
    color: #FCFCFC;
}

.logSelector {
    cursor: pointer;
    position: relative;
    margin-left: 35%;
    margin-top: 3%;
    width: 50%;
    height: 15%;
}

.logSelector fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.logSelector input[type=text] {
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    cursor: pointer;
}


.logSelector-content {
    z-index: 1;
    display: none;
    position: absolute;
    width: 98%;
    left: 1%;
    margin-top: 12px;
    background-color: #0e0e0e;
    border-radius: 6px;
    box-shadow: 0px 8px 7px 2px rgb(0 0 0 / 20%);

    -webkit-app-region: no-drag;
}

.logSelector-content a {
    color: #FCFCFC;
    display: block;
    padding: 12px 16px;
    font-family: Varela;
    text-shadow: 1px 1px 1px black;
    border-radius: 6px;
    text-decoration: none;
}

.logSelector-content a:hover {
    background-color: #101010;
}

.logSelector:hover .logSelector-content {
    display: block;
    cursor: pointer;
}


.generalComp {
    position: relative;
    margin-left: 27%;
    margin-top: 5%;
    width: 100%;
    height: 50%;
}

.generalCompBox {
    color: #FCFCFC;
    font-family: Varela;
    font-size: 15px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 17%;
    margin-bottom: 4%;
    padding-top: 2.5%;
    border: 2px solid #C0C0C0;
    margin-right: 7%;
    background-color: rgb(16 16 16 / 53%);
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px #0000003b;
    overflow: hidden;
    height: 10%;
}

.generalCompBox img {
    width: 65px;
    user-select: none;
    
    -webkit-user-drag: none;
}

.generalCompBox span {
    cursor: help;
    text-shadow: 1px 1px 1px black;
}

.generalCompButton {
    border-top: 2px solid #C0C0C0;
    width: 100%;
    padding-bottom: 4.5%;
    padding-top: 4.5%;
    margin-top: 5px;
    cursor: pointer;
}

.generalCompButton button {
    color: #FCFCFC;
    font-family: Varela;
    border: none;
    background-color: transparent;
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.opacitySelector {
    cursor: pointer;
    position: relative;
    margin-left: 35%;
    margin-top: 5.5%;
    width: 50%;
    height: 15%;
}

.opacitySelector fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.opacitySelector input[type=range] {
    font-family: Varela;
    color: #FCFCFC;
    border: none;
    width: 98%;
    cursor: pointer;
}

.cornerSelector {
    cursor: pointer;
    position: relative;
    margin-left: 35%;
    margin-top: 5.5%;
    width: 50%;
    height: 15%;
}

.cornerSelector fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.cornerSelector input[type=range] {
    font-family: Varela;
    color: #FCFCFC;
    border: none;
    width: 98%;
    cursor: pointer;
}

.windowSelector {
    cursor: pointer;
    position: relative;
    margin-left: 35%;
    margin-top: 5.5%;
    width: 50%;
    height: 15%;
}

.windowSelector fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.windowSelector input[type=text] {
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    cursor: pointer;
}


.windowSelector-content {
    z-index: 1;
    display: none;
    position: absolute;
    width: 98%;
    left: 1%;
    margin-top: 12px;
    background-color: #0e0e0e;
    border-radius: 6px;
    box-shadow: 0px 8px 7px 2px rgb(0 0 0 / 20%);

    -webkit-app-region: no-drag;
}

.windowSelector-content a {
    color: #FCFCFC;
    display: block;
    padding: 12px 16px;
    font-family: Varela;
    text-shadow: 1px 1px 1px black;
    border-radius: 6px;
    text-decoration: none;
}

.windowSelector-content a:hover {
    background-color: #101010;
}

.windowSelector:hover .windowSelector-content {
    display: block;
    cursor: pointer;
}

.fontSelector {
    cursor: pointer;
    position: relative;
    margin-left: 35%;
    margin-top: 5.5%;
    width: 50%;
    height: 15%;
}

.fontSelector fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.fontSelector input[type=text] {
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    cursor: pointer;
}


.fontSelector-content {
    z-index: 1;
    display: none;
    position: absolute;
    width: 98%;
    left: 1%;
    margin-top: 12px;
    background-color: #0e0e0e;
    border-radius: 6px;
    box-shadow: 0px 8px 7px 2px rgb(0 0 0 / 20%);

    -webkit-app-region: no-drag;
}

.fontSelector-content a {
    color: #FCFCFC;
    display: block;
    padding: 12px 16px;
    font-family: Varela;
    text-shadow: 1px 1px 1px black;
    border-radius: 6px;
    text-decoration: none;
}

.fontSelector-content a:hover {
    background-color: #101010;
}

.fontSelector:hover .fontSelector-content {
    display: block;
    cursor: pointer;
}

.index {
    margin-left: 25.5%;
    margin-top: 3%;
}

.indexAddButton {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px 80px 10px 80px;
    color: #C0C0C0;
    font-family: Varela;
    font-size: 26px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #C0C0C0;
    background-color: rgb(16 16 16 / 53%);
    box-shadow: 2px 2px 4px 2px #0000003b;
}

.indexAddButton:hover {
    border: 2px solid #FCFCFC;
    color: #FCFCFC;
}

.indexBox {
    color: #FCFCFC;
    font-family: Varela;
    vertical-align: top;
    text-align: center;
    width: 93%;
    margin-bottom: 4%;
    margin-right: 1%;
    background-color: rgb(16 16 16 / 53%);
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px #0000003b;
    overflow: hidden;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexBox span {
    font-size: 24px;
    color: #FCFCFC;
}

.indexAdd {
    text-align: center;
    margin-left: -7.5%;
}

.indexColors {
    text-align: center;
    margin-left: -11.5%;
}

.indexColorBox {
    color: #C0C0C0;
    font-family: Varela;
    font-size: 26px;
    border-radius: 15px;
    background-color: rgb(16 16 16 / 53%);
    box-shadow: 2px 2px 4px 2px #0000003b;
    width: 315px;
    height: 125px;
    display: inline-block;
    margin-left: 4%;
    overflow: hidden;
    text-align: center;
    margin-top: 3%;
}

.indexColorBoxColor {
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.281);
    cursor: pointer;
    width: 100%;
    height: 55px;
    text-align: right;
    text-indent: -32px;
}

.indexColorBoxButton {
    appearance: none;
    border: none;
    background-color: transparent;
    color: #FCFCFC;
    font-size: 17px;
    text-shadow: 1px 1px 1px rgb(48, 47, 47);
    cursor: pointer;
    position: absolute;
    margin-top: 3px;
    margin-left: 126px;
    z-index: 1;
}

.indexColorBoxButton:hover {
    font-size: 18px;
}

.indexColorBoxText input[type=number] {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #C0C0C0;
    color: #FCFCFC;
    width: 50%;
    margin-top: 15px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.pickr .pcr-button {
    width: 100%;
    height: 55px;
}

.pickr .pcr-button::before {
    background: none;
}

.pcr-app .pcr-interaction .pcr-result {
    background: #101010;
}

.pcr-app {
    background: #0e0e0e;
    border-radius: 5px;
}

.tableEditor-setting {
    height: 1200px;
}

#tableEditorBody {
    margin-left: 10%;
}

.tableSelector {
    cursor: pointer;
    position: relative;
    margin-left: 16%;
    margin-top: 5.5%;
    width: 32%;
    display: inline-block;
}

.tableSelector fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.tableSelector input[type=text] {
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    cursor: pointer;
}


.tableSelector-content {
    z-index: 1;
    display: none;
    position: absolute;
    width: 98%;
    left: 1%;
    margin-top: 12px;
    background-color: #0e0e0e;
    border-radius: 6px;
    box-shadow: 0px 8px 7px 2px rgb(0 0 0 / 20%);

    -webkit-app-region: no-drag;
}

.tableSelector-content a {
    color: #FCFCFC;
    display: block;
    padding: 12px 16px;
    font-family: Varela;
    text-shadow: 1px 1px 1px black;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.tableSelector-content a:hover {
    background-color: #101010;
}

.tableSelector:hover .tableSelector-content {
    display: block;
    cursor: pointer;
}

.tablePreview {
    margin-top: 3%;
    margin-left: 25%;

    width: 70%;
    height: 90px;

    border-radius: 15px;

    background-color: rgb(16 16 16 / 53%);
    box-shadow: 2px 2px 4px 2px #0000003b;
}

.customTablePreview th {
    color: #B0B0B0;
    text-shadow: 1px 1px 1px black;

    font-family: Varela;
    font-size: 12px;

    width: 1%;
    padding-top: 20px;
}

.customTablePreview td {
    color: #B0B0B0;
    text-shadow: 1px 1px 1px black;
    text-align: center;

    font-family: Varela;
    font-size: 14px;

    width: 1%;
    padding-top: 10px;
}

.customTablePreview img {
    width: 18px;
    border-radius: 3px;
}

.customTablePreview i {
    transform: scale(1.3);
    margin-left: 50%;

    cursor: pointer;
}

.playerHighlightButton {
    margin-left: 50%;
}

.playerHighlightButton button {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px 80px 10px 80px;
    color: #C0C0C0;
    font-family: Varela;
    font-size: 26px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #C0C0C0;
    background-color: rgb(16 16 16 / 53%);
    box-shadow: 2px 2px 4px 2px #0000003b;
}

.playerHighlightButton button:hover {
    border: 2px solid #FCFCFC;
    color: #FCFCFC;
}