.settings-sidebar {
    top: 35px;
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: -1;
    position: fixed;
    user-select: none;
    
    border-bottom-left-radius: var(--temp-corner);
    background-color: var(--temp-body-opacity);
  }

.settings-sidebody {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: fixed;
    
    border-radius: var(--temp-corner);
    background-color: var(--temp-body-opacity-lighter);
  }

  .settings-sidebar span {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #B0B0B0;
    font-family: Varela;
    font-size: 18px;
    cursor: pointer;
  }

  .settings-sidebar span:hover {
    color: #E3E3E3;
  }

  .settings-sidebar span:active {
    color: #f1ecec;
  }

  .settingTitle {
    display: flex;
    justify-content: center;
    margin: 30px;
    color: #FCFCFC;
    font-family: Varela;
    font-size: 25px;
    user-select: none;
  }

  .versionTitle {
    display: flex;
    justify-content: center;
    font-family: Varela;
    color: #B0B0B0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 12px;
  }