.settings-sidebar {
    top: 35px;
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: -1;
    position: fixed;
    
    border-bottom-left-radius: var(--temp-corner);
    background-color: var(--temp-body-opacity);
  }

.settings-sidebody {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: fixed;
    
    border-radius: var(--temp-corner);
    background-color: var(--temp-body-opacity-lighter);
  }