.overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    
    border-radius: var(--temp-corner);
    background-color: var(--body-opacity);
  }