.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    position: fixed;
    user-select: none;
    background-color: var(--temp-header-opacity);
    border-top-left-radius: var(--temp-corner);
    border-top-right-radius: var(--temp-corner);

    -webkit-app-region: drag;
}

.header-title {
    float: left;
    color: #FCFCFC;
    display: flex;
    font-size: 18.5px;
    margin-top: 6.5px;
    padding-left: 8px;
    font-family: Varela;
    text-shadow: 2px 2px black;
}

.header-menuicon {
    float: left;
    height: 20px;
    margin-left: 7px;
    margin-top: 8px;
    cursor: pointer;
  
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }
  
/* menu for the header bar */
.header-dropdown {
    float: left;
    position: relative;
}

.header-dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    min-width: 160px;
    margin-top: 25px;
    margin-left: 7px;
    background-color: #0e0e0e;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    -webkit-app-region: no-drag;
}

.header-dropdown-content a {
    color: #FCFCFC;
    display: block;
    padding: 12px 16px;
    font-family: Varela;
    text-shadow: 1px 1px 1px black;
    border-radius: 6px;
    text-decoration: none;
}

.header-dropdown-content a:hover {
    background-color: #101010;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
    cursor: pointer;
}


/* windows buttons for header bar */
.windows-header-controls {
    width: 119px;
    margin-left: auto;
  }
  
  .windows_button {
    height: 15px;
    padding: 10px 11px 9.9px 11px;
    margin-top: 0.4px;
  
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }
  
  .windows_button:hover {
    cursor: pointer;
    background-color: #393d43;
  }
  
  .windows_button:active {
    background-color: #33363c;
  }
  
  .windows_button.close:hover {
    border-top-right-radius: var(--temp-corner);
    background-color: #d41224;
  }
  
  .windows_button.close:active {
    background-color: #be1020;
  }
  

  /* mac buttons for header bar */
  .mac-header-controls {
    width: 69px;
    margin-left: auto;
  }
  
  .mac_button {
    height: 17px;
    margin-top: 9px;
  
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }
  
  .mac_button:hover {
    cursor: pointer;
    filter: contrast(130%);
  }
  
  .mac_button:active {
    filter: contrast(150%);
  }

  .heading-toolbar {
    width: 17px;
    float: left;
    cursor: pointer;
    z-index: 3;
    user-select: none;
    margin-top: 7px;
    margin-left: 6px;
    padding: 3px;

    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }

  .heading-toolbar:hover {
    background-color: #b0b0b036;
    border-radius: 50px;
  }

  .heading-toolbar:active {
    background-color: #b0b0b05d;
    border-radius: 50px;
  }

  .toolmenu-body {
    background-color: rgb(28 27 27);
    box-shadow: 2px 2px 4px 2px #0000003b;

    width: 40px;
    height: 40px;

    margin-top: 10px;
    margin-left: 8%;

    z-index: 5;
    border-radius: 8px;

    display: flex;
    flex-direction: row;

    user-select: none;

    animation-name: toolbarAnimiation;
    animation-duration: .4s;
    animation-fill-mode: forwards;

    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }

  @keyframes toolbarAnimiation {
    from{ margin-top: 10px; }
    to{ margin-top: 40px; }

    from{ width: 40px; }
    to{ width: 200px; }

    from{ height: 40px; }
    to{ height: 55px; }

    from{ opacity: .70; }
    to{ opacity: 1; }
  }

  .toolmenuRemove {
    animation-name: toolbarRemoveAnimiation;
    animation-duration: .9s;
    animation-fill-mode: backwards;
  }

  @keyframes toolbarRemoveAnimiation {
    to{ margin-top: 0px; }
    from{ margin-top: 40px; }

    to{ width: 0px; }
    from{ width: 200px; }

    to{ height: 0px; }
    from{ height: 55px; }

    to{ opacity: 0; }
    from{ opacity: 1; }
  }

  .toolbar-icons {
    margin: 4px 10px 4px 10px;

    animation-name: toolbarIconsAnimiation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  .toolbar-icons img:hover {
    background-color: #b0b0b036;
    border-radius: 25px;
    cursor: pointer;

    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }

  .toolbar-icons img:active {
    background-color: #b0b0b05d;
    border-radius: 50px;
  }

  .toolbar-icons img {
    padding: 8px;
    width: 30px;
  }

  @keyframes toolbarIconsAnimiation {
    from{ opacity: 0; }
    to{ opacity: 1; }
  }

  .toolModeMenu {
    background-color: #111111;
    box-shadow: 2px 2px 4px 2px #0000003b;

    width: 50%;
    height: 250px;

    margin-top: 18.5%;
    margin-left: 25.5%;

    z-index: 5;
    border-radius: 8px;

    user-select: none;
    position: fixed;

    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }

  .modeSelector {
    cursor: pointer;
    position: relative;
    margin-left: 25%;
    margin-top: 90px;
    width: 50%;
    height: 15%;
}

.modeSelector fieldset, legend {
    border-width: 2px;
    padding-right: 4px;
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
}

.modeSelector input[type=text] {
    font-family: Varela;
    color: #FCFCFC;
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    cursor: pointer;
}


.SelectModeContent {
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 10;
    display: none;
    position: absolute;
    width: 98%;
    left: 1%;
    margin-top: 12px;
    background-color: #0e0e0e;
    border-radius: 6px;
    box-shadow: 0px 8px 7px 2px rgb(0 0 0 / 20%);

    -webkit-app-region: no-drag;
}

.SelectModeContent a {
    color: #FCFCFC;
    display: block;
    padding: 12px 16px;
    font-family: Varela;
    text-shadow: 1px 1px 1px black;
    border-radius: 6px;
    text-decoration: none;
}

.SelectModeContent a:hover {
    background-color: #101010;
}

.modeSelector:hover .SelectModeContent {
    display: block;
    cursor: pointer;
}

.toolModeMenuClose {
  position: absolute;
  cursor: pointer;

  top: 8px;
  right: 6px;

  border: none;
  appearance: none;
  
  color: #fcfcfc;
  font-size: 14px;

  background-color: transparent;
}

.toolModeMenuClose:hover {
  background-color: #b0b0b036;
  border-radius: 25px;
}

.toolModeMenuClose:active {
  background-color: #b0b0b05d;
  border-radius: 25px;
}

.toolSearchMenu {
  background-color: #111111;
  box-shadow: 2px 2px 4px 2px #0000003b;

  width: 50%;
  height: 250px;

  margin-top: 18.5%;
  margin-left: 25.5%;

  z-index: 5;
  border-radius: 8px;

  user-select: none;
  position: fixed;

  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.toolSearchMenuClose {
  position: absolute;
  cursor: pointer;

  top: 8px;
  right: 6px;

  border: none;
  appearance: none;
  
  color: #fcfcfc;
  font-size: 14px;

  background-color: transparent;
}

.toolSearchMenuClose:hover {
  background-color: #b0b0b036;
  border-radius: 25px;
}

.toolSearchMenuClose:active {
  background-color: #b0b0b05d;
  border-radius: 25px;
}

.modeSearcher {
  width: 75%;
  position: relative;
  margin-left: 12.5%;
  margin-top: 90px;
}

.modeSearcher fieldset, legend {
  border-width: 2px;
  padding-right: 4px;
  font-family: Varela;
  color: #FCFCFC;
  font-size: 16px;
}

.modeSearcher input[type=text] {
  font-family: Varela;
  color: #FCFCFC;
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}