:root {
    --temp-body-opacity-lighter: rgba(16, 16, 16, .60);
    --temp-body-opacity: rgba(14, 14, 14, .60);
    --body-opacity-lighter: rgba(16, 16, 16, .60);
    --body-opacity: rgba(14, 14, 14, .60);
    --temp-header-opacity: rgba(13, 13, 13, .65);
    --header-opacity: rgba(13, 13, 13, .65);
    --temp-corner: 15px;
    --corner: 15px;
}

@font-face {
    font-family: "Varela";
    font-style: normal;
    src: url("../../font/VarelaRound-Regular.ttf")
}

.hidden {
    display: none;
}

.span-selected {
    color: #FCFCFC !important;
}

:focus {
    outline: none;
  }

.tooltip1 {
    display: inline;
    position: relative;
}

.tooltip1:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #0e0e0e;
    border-radius: 8px;
    color: #FCFCFC;
    content: attr(tooltip);
    margin: -170px auto 0;
    font-size: 16px;
    padding: 13px;
    width: 90%;
    font-family: Varela;
}

.enabled {
    background-color: #336C28;
}

.enabled:hover {
    background-color: #336c32;
}

.disabled {
    background-color: #85120E;
}

.disabled:hover {
    background-color: #85120f;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #191919;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: var(--temp-corner);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0F0F0F;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: var(--temp-corner);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0D0D0D;
    cursor: pointer;
  }


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #b9b9b9;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 15px;
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #E3E3E3;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #E3E3E3;
    cursor: pointer;
  }

  /* get rid of ugly button for type number inputs */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.tippy-box[data-theme~='blitzer'] {
  color: #FCFCFC;
  font-family: Varela;
  text-align: center;
  padding: 5px 7px 5px 7px;
  border-radius: 8px;
  background-color: #0e0e0e;
  box-shadow: 2px 2px 4px 2px #0000003b;
}